.nav-link:hover {
    text-decoration: underline;
    color: black;
}

.contact {
    background-color: burlywood;
    margin-top: 100px;
}

.maps h4 {
    font-family: 'Trebuchet MS', sans-serif;
    color: white;
}